os: linux
dist: trusty

language: java

branches:
  only:
    - master
    - develop

before_install:
  container_name="springbootapp"
  image="springbootapp"

install:
  - mvn clean install
  - chmod 755 docker-entrypoint.sh
  - docker build --build-arg=target/*.jar -t "$image" "$dir"
  - docker run --name container_name
  - docker logs "$name"
  - docker logs "$name" | grep "Launching application..."
  - docker stop "$name"

before_script:
  - env | sort
  - export TAG=travis
  - export BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
  - export IMAGE_NAME=springbootapp
  - dir=".travis"

script:
  - cd "$dir"
  - travis_retry travis_wait 30 docker-compose -f docker-compose.yml build
  - docker images
#  - mvn test verify -P all-tests

notifications:
  email: false

matrix:
  allow_failures:
    - env: VERSION=0.1
  
env: # Environments
    - VERSION=1.0
