os: linux
dist: trusty

language: java

branches:
  only:
    - master
    - develop


before_script:
  - env | sort
  - export TAG=travis
  - export BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
  - export IMAGE_NAME=springbootapp
  - dir=".travis"
  - export FOLDER_NAME=parking

script:
  - cd "$FOLDER_NAME"
  - mvn clean install
  - cd "$dir"
  - travis_retry travis_wait 30 docker-compose -f docker-compose.yml build
  - docker images
  - travis_retry docker-compose -f docker-compose.yml up -d && sleep 60
  - docker-compose -f docker-compose.yml ps
#  - mvn test verify -P all-tests

notifications:
  email: false

matrix:
  allow_failures:
    - env: VERSION=0.1
  
env: # Environments
    - VERSION=1.0
