os: linux
dist: trusty

language: java

branches:
  only:
    - master
    - develop


services: postgresql

before_script:
  - env | sort
  - export TAG=travis
  - export BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
  - export IMAGE_NAME=springbootapp
  - export APP_FOLDER_NAME=parking
  - sudo -u postgres psql -c 'CREATE ROLE my_user WITH LOGIN';
  - sudo -u postgres psql -c 'GRANT ALL PRIVILEGES ON DATABASE postgres to my_user;'

script:
  - cd "$APP_FOLDER_NAME"
  - travis_retry travis_wait 30 docker-compose -f docker-compose.yml build
  - mvn clean install
  - docker images
  - travis_retry docker-compose -f docker-compose.yml up -d && sleep 60
  - docker-compose -f docker-compose.yml ps
  - docker-compose -f docker-compose.yml logs springbootapp
#  - mvn test verify -P all-tests

notifications:
  email: false

matrix:
  allow_failures:
    - env: VERSION=0.1

env: # Environments
    - VERSION=1.0