os: linux
dist: trusty

language: java

branches:
  only:
    - master
    - develop

before_install:
  name="springbootapp"
  image="springbootapp"

install:
  - mvn clean install dockerfile:build -DskipTests=true -Dmaven.javadoc.skip=true -B -V
  - chmod 755 docker-entrypoint.sh
  - docker build --build-arg=target/*.jar -t "$image" "$dir"
  - docker run --name "$name" -d "$image" "$dir" -eDB_PLATFORM=h2 -eAPP_VERIFIER_KEY_PASS=averysecretpasswordforjks
  - docker logs "$name"
  - docker logs "$name" | grep "Launching application..."
  - docker stop "$name"

before_script:
  - env | sort
  - export TAG=travis
  - export VCS_REF=`git rev-parse --short HEAD`
  - export BUILD_DATE=`date -u +"%Y-%m-%dT%H:%M:%SZ"`
  - export IMAGE_NAME=springbootapp

script:
  - mvn test verify -P all-tests #For future tests

notifications:
  email: false

matrix:
  allow_failures:
    - env: VERSION=0.1
  
env: # Environments
    - VERSION=1.0
